<h1> Welcome to Chitter</h1>

<h2> Sign Up </h2>
<form action="/home" method="post">
  <input type="text" name="email" placeholder="Email" />
  <input type="text" name="username" placeholder="Username" />
  <input type="submit" value="Submit" />
</form>
